@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;  
}

html,
body {
    height: 100%;
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: wheat;
}

.search {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px 10px;
}

.search input {
    width: 800px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(75, 70, 70, 0.644);
}

.notif {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    height: 50px;
}

.welcome {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;

}

.btn {
    grid-column: 2/3;
    grid-row: 2/3;
}

.btn button {
    background-color: maroon;
    color: aliceblue;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(117, 5, 5);
}


.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(75, 70, 70, 0.644);
    gap: 15px;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 15px;
}

.projects h1 {
    grid-row: 1/2;
}

.cards {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 10px;
}
.cards div {
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: chocolate;
    box-shadow: 10px 15px 8px rgb(94, 47, 14);
}


.announcements {
    grid-column: 2/3;
    grid-row: 1/2;
}

.announcements ul, .trending ul {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcements li, .trending li {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100px;
    border-radius: 20px;
    border: 2px solid maroon;
    box-shadow: 5px 10px 8px rgb(49, 1, 1);
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.trending {
    grid-column: 2/3;
    grid-row: 2/3;
}


li {
    list-style-type: none;
    display: flex;
}

img {
    height: 25px;
    width: 25px;
}