*{
    margin:0;
    padding: 0;  
}

html,
body {
    height: 100%;
}

.container {
    border: 2px solid blue;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 2px solid greenyellow;
}

.search {
    grid-column: 1/2;
    grid-row: 1/2;
}

.notif {
    grid-column: 2/3;
    grid-row: 1/2;
}

.welcome {
    grid-column: 1/2;
    grid-row: 2/3;
}

.btn {
    grid-column: 2/3;
    grid-row: 2/3;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid violet;
}


.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 4;
    gap: 15px;
}

.projects h1 {
    grid-row: 1/2;
}
.projects div {
    height: 100px;
    background-color: chocolate;
}

.announcements {
    grid-column: 2/3;
    grid-row: 1/2;
}

.trending {
    grid-column: 2/3;
    grid-row: 2/3;
}

li {
    list-style-type: none;
}